@media screen and (max-width: 640px){

  img {
    max-width: 100%;
    width: auto;
    height: auto;
  }

  #wrapper {
    max-width: 640px;
    margin: 0 auto;
  }

  body {
    min-width: 320px;
    background: #fff;
    line-height: 1.5;
    margin: 0 auto;
  }

  #mainCommon {
    margin: 0;
    width: 100vw;
    height: 200px;
    background-position: center;
    background-image: url(images/6509.jpg);
    background-repeat: no-repeat;
    margin-bottom: 1px;
  }

  #mainSub {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200px;
  }

  #mainSub h1 {
    width: 250px;
    float: left;
    z-index: 10;
    position: absolute;

  }

  #globalNav {
    background-color: #cc9966;
    margin-bottom: 40px;
    width: 100vw;
  }

  #globalNav ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    font-size: 0;
  }

  #globalNav li {
    margin: 0 auto;
    list-style: none;
    display: inline-block;
    width: 20%;
    border-left: 0.5px solid #fff;
  }

  #content {
    margin: 0px;
    padding: 0px;
  }

  #subContent {
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  #shopcontent {
    margin: 0;
    padding: 0;
  }

  #shopcontent h1 {
    margin: 0;
    width: 150px;
  }

  #shopcontent h2 {
    margin: 0;
  }

  #shopcontent h3 {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #000;
  }

  .clearfix {
    display: block;
  }

  #footer {
    margin-top: 230px;
    padding: 0;
    width: 100%;
    height: 80px;
    background-color: #202020;

  }

  #footerLeft {
    color: #fff;
    font-weight: bold;
    font-size: 4px;
    padding-top: 5px;
  }

  .btn {
    opacity: 1;
  }

  .btn:hover {
    opacity: 0.7;
  }


}
