@media screen and (min-width: 769px){
  img {
    max-width: 100%;
    width: auto;
    height: auto;
  }

  #wrapper {
    max-width: 1440px;
    margin: 0 auto;
  }

  body {
    min-width: 769px;
    background: #fff;
    line-height: 1.5;
    margin: 0 auto;
  }

  #mainCommon {
    margin: 0;
    width: 100%;
    height: 200px;
    background-position: center;
    background-image: url(images/6509.jpg);
    background-repeat: no-repeat;
    background-color: #333;
    margin-bottom: 1px;
  }

  #mainSub {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 200px;
  }

  #mainSub h1 {

    float: left;
    z-index: 10;
    position: absolute;

  }

  #globalNav {
    background-color: #cc9966;
    margin-bottom: 40px;
  }

  #globalNav ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    font-size: 0;
  }

  #globalNav li {
    margin: 0 auto;
    list-style: none;
    display: inline-block;
    width: 20%;
    border-left: 0.5px solid #fff;
  }

  #content {
    margin: 0px;
    padding: 0px;
  }

  #subContent {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
  }

  #information {
    margin: 0;
    padding: 0;
  }

  #information h1 {
    margin: 0;
  }

  #information h2 {
    margin: 0;
  }

  #information table {
    margin: 10px 0 60px 7px;
    width: 980px;
    border-spacing: 0;
  }

  #information tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
  }

  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }

  th {
    background-color: #ECE2B7;
    color: #72501E;
    width: 240px;
    border: 1px solid #000;
    border-collapse: collapse;
    display: table-cell;
    vertical-align: inherit;
    padding: 10px;
  }

  td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 10px 5px;
  }

  .googlemap {
    width: 980px;
  }

  .googlemap h3 {
    font-size: 20px;
    font-weight: bold;
    border-bottom: 2px solid #000;
  }

  .googlemap iframe {
    width: 980px;
  }

  #footer {
    margin-top: 230px;
    padding: 0;
    width: 100%;
    height: 80px;
    background-color: #202020;

  }

  #footerLeft {
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    padding-top: 5px;
  }

  .btn {
    opacity: 1;
  }

  .btn:hover {
    opacity: 0.7;
  }

}
